{
  auto_https disable_redirects
  default_sni {$LAN_HOST}
  pki {
    ca local {
      name "Subscriptions LAN"
    }
  }
}

https://{$LAN_HOST}:3443 {
  tls internal
  reverse_proxy subscriptions:3000
}
